name: Deploy Node Backend to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd ~/node-backend-devops
            git pull origin main
            docker build -t node-backend-devops .
            docker stop node-backend || true
            docker rm node-backend || true
            docker run -d \
              --restart unless-stopped \
              --name node-backend \
              -p 3000:3000 \
              node-backend-devops
